<div class="video-container">
  <div class="video-heading">
    <h1>You Dream, We Create!</h1>
    <p>We turn your ideas into a reality. We don't stop until you are satisfied.</p>
    <a type="button" href="#/login" class="btn custom-button">Yes, build my dream now</a>
  </div>
  <video autoplay loop class="video">
    <source src="../images/construction_snippet.mp4" type="video/mp4"/>
    Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>

</div>
<div class="quick-contact">
  <div class="row">
    <div class="col-xs-12 col-md-12  col-lg-5 col-lg-offset-2">
      <h4>Talk to our experts and get your dream home done</h4>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-3">
      <a type="button" class="btn custom-button">GET IN TOUCH</a>
    </div>
  </div>
</div>
<div class="container">
  <img class="right-img" src="../images/about-us-img.png">
</div>
<div class="our-services-container">
  <div class="container">
    <div class="services-title">
      <h2>Our Services</h2>
      <hr width="25%">
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-4 col-lg-offset-2">
        <div class="text-center service-card">
          <h4>Construction</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4">
        <div class="text-center service-card">
          <h4>Architecture</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4 col-lg-offset-2 ">
        <div class="text-center service-card">
          <h4>Consulting</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4">
        <div class="text-center service-card">
          <h4>Metal Roofing</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4 col-lg-offset-2">
        <div class="text-center service-card">
          <h4>Painting</h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4">
        <div class="text-center service-card">
          <h4>Electrical</h4>
        </div>
      </div>
    </div>
  </div>
</div>
