<div class="video-container">
  <div class="video-heading">
    <h1>You Dream, We Create!</h1>
    <p>We turn your ideas into a reality. We don't stop until you are satisfied.</p>
    <button type="button" class="custom-button">Yes, build my dream now</button>
  </div>
  <video autoplay loop class="video">
    <source src="../images/construction_snippet.mp4" type="video/mp4"/>
    Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
</div>
<div class="quick-contact">
  <div class="row">
    <div class="col-xs-12 col-md-12  col-lg-5 col-lg-offset-2">
      <h4>Talk to our experts and get your dream home done</h4>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-3">
      <button type="button" class="custom-button">GET IN TOUCH</button>
    </div>
  </div>
</div>
<div class="container">
  <img class="right-img" src="../images/about-us-img.png">
</div>
